body {
    background-color: #323232;
    font-family: Segoe UI, Tahoma, sans-serif;
    font-family: Lucida Grande, Tahoma, sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    font-size: 0.8em;
    color: #e1e1e1;
    padding-top: 10px;
}


/* Center checkboxes with label -> only works with size input beforehand */
.centerItems {
    float: left;
    line-height: 1.6em;
    height: 1.6em;
    margin: 0px 2px;
    padding: 0px;
    font-size: inherit;
}

.centerItemCheckbox {
    clear: left;
}
/* Reset default style of <p>*/
p.item {
    margin: 0;
    padding: 0;
}
/* ToDo Offset for p / container depending on parenting -> first one without one including hiding
 */
div.items {
    padding-left: 1em;
}
main>section.itemParent {
    display: block;
    border-top: 2px solid #303030;
    border-bottom: 2px solid #303030;
}
main>section.itemParent:first-child {
    border-top: 0;
}
main>section.itemParent:last-child {
    border-bottom: 0;
}
div.itemSingle {
    white-space: nowrap;
    overflow: hidden;
    min-height: 1.6em;
    display: block;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.05em;
    padding-bottom: 0.05em;
}
div.itemSingle:hover {
    background-color: #4a4a4a;
}

.hidden {
    display: none;
}

input.change {
    margin-bottom: 0;
    margin-top: 0;
    position: relative;
}

.itemSingle.highlight {
    border: 2px blue;
    background-color: #4a4a4a;
}

#StatusBar {
    width: 99%;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    padding: 2px;
    border-bottom: 1px solid #4a4a4a;
    background-color: #323232;
}
#tags {
    padding-top: 10px;
}
/* ToDo Container Hiding for Dropdown */

/* ToDo layout - Single or Multicolumn & Scolling if content doesn't fit */